<footer
  class="rounded-lg shadow m-4 bg-black/20 backdrop-blur-lg w-full mx-auto lg:gap-x-10 md:gap-x-4 lg:justify-between lg:w-[1120px] mb-10"
>
  <div
    class="w-full max-w-screen-xl p-4 mx-auto md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-yellow-200 sm:text-center"
      >© {new Date().getFullYear()}
      <a
        href="https://ignathedev.com/"
        class="hover:underline"
        >Ignacio Amat Urbina</a
      >. All rights reserved.
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-white/90 sm:mt-0"
    >
      <li>
        <a
          href="#about"
          class="hover:underline me-4 md:me-6"
          >About Me</a
        >
      </li>
      <li>
        <a
          href="#experience"
          class="hover:underline me-4 md:me-6"
          >Experience</a
        >
      </li>
      <li>
        <a
          href="#academics"
          class="hover:underline me-4 md:me-6"
          >Certifications</a
        >
      </li>
      <li>
        <a
          href="#projects"
          class="hover:underline me-4 md:me-6"
          >Projects</a
        >
      </li>
      <li>
        <a
          href="#contact"
          class="hover:underline"
          >Contact</a
        >
      </li>
    </ul>
  </div>
</footer>
