---
import Dropdown from '../../components/Dropdown.astro'
---
<header
  class="flex flex-wrap justify-center items-center py-5 w-full mx-auto lg:gap-x-10 md:gap-x-4 lg:justify-between lg:w-[1120px] "
>
    <img
    class="flex self-center mb-4 rounded-full size-12 md:mb-0 "
    src="/img/profile_picture.jpg"
    alt="ignathedev photo"
    />
  <nav class="flex flex-row flex-wrap items-center justify-center gap-4 xl:gap-y-0 opacity-80">
    <a class="bg-transparent transition rounded-lg hover:bg-[rgba(120,119,198,0.3)] px-2 py-1 lg:py-2 lg:px-4" href="/">Home</a>
    <a class="bg-transparent transition rounded-lg hover:bg-[rgba(120,119,198,0.3)] px-2 py-1 lg:py-2 lg:px-4" href="#about">About me</a>
    <a class="bg-transparent transition rounded-lg hover:bg-[rgba(120,119,198,0.3)] px-2 py-1 lg:py-2 lg:px-4" href="#experience">Experience</a>
    <a class="bg-transparent transition rounded-lg hover:bg-[rgba(120,119,198,0.3)] px-2 py-1 lg:py-2 lg:px-4" href="#certifications">Certifications</a>
    <a class="bg-transparent transition rounded-lg hover:bg-[rgba(120,119,198,0.3)] px-2 py-1 lg:py-2 lg:px-4" href="#projects">Projects</a>
    <a class="bg-transparent transition rounded-lg hover:bg-[rgba(120,119,198,0.3)] px-2 py-1 lg:py-2 lg:px-4" href="#contact">Contact</a>
  </nav>
  <Dropdown data-astro-reload />
</header>