---
import Dropdown from "../../components/Dropdown.astro";
const pathname = Astro.url.pathname;
---

<header
class={`flex flex-wrap items-center w-full py-5 mx-auto lg:gap-x-10 md:gap-x-4 px-4 lg:gap-y-4 md:gap-y-4 ${pathname !== "/en" ? "justify-between" : "justify-center"}`}
>
  <div
  class={`flex items-center lg:flex-row gap-x-4 ${pathname !== "/en" ? "order-1 flex-row lg:flex-row" : "flex-col"}`}
  >
    <img
      class="flex self-center rounded-full size-8 md:size-12"
      src="/img/profile_picture.jpg"
      alt="ignathedev photo"
    />
    <nav
      class={`flex flex-row text-sm lg:text-base flex-wrap items-center justify-center gap-4 xl:gap-y-0 opacity-80 lg:mt-0 ${pathname !== "/en" ? "mt-0" : "mt-4"}`}
    >
      {
        pathname !== "/en" ? 
          <a
            class="bg-transparent transition rounded-lg hover:bg-[rgba(120,119,198,0.3)] px-2 py-1 lg:py-2 lg:px-4"
            href="/en"
          >
            Home
          </a>
         : 
            <a
              class="bg-transparent transition rounded-lg hover:bg-[rgba(120,119,198,0.3)] px-2 py-1 lg:py-2 lg:px-4"
              href="/en"
            >
              Home
            </a>
            <a
              class="bg-transparent transition rounded-lg hover:bg-[rgba(120,119,198,0.3)] px-2 py-1 lg:py-2 lg:px-4"
              href="#about"
            >
              About me
            </a>
            <a
              class="bg-transparent transition rounded-lg hover:bg-[rgba(120,119,198,0.3)] px-2 py-1 lg:py-2 lg:px-4"
              href="#landingPage"
            >
              Create your website
            </a>
            <a
              class="bg-transparent transition rounded-lg hover:bg-[rgba(120,119,198,0.3)] px-2 py-1 lg:py-2 lg:px-4"
              href="#experience"
            >
              Experience
            </a>
            <a
              class="bg-transparent transition rounded-lg hover:bg-[rgba(120,119,198,0.3)] px-2 py-1 lg:py-2 lg:px-4"
              href="#certifications"
            >
              Certifications
            </a>
            <a
              class="bg-transparent transition rounded-lg hover:bg-[rgba(120,119,198,0.3)] px-2 py-1 lg:py-2 lg:px-4"
              href="#projects"
            >
              Projects
            </a>
            <a
              class="bg-transparent transition rounded-lg hover:bg-[rgba(120,119,198,0.3)] px-2 py-1 lg:py-2 lg:px-4"
              href="#landingPage"
            >
              Contact
            </a>
      }
    </nav>
  </div>
  <div
    class={`flex items-center justify-center gap-x-2 lg:mt-0 ${pathname !== "/en" ? "mt-0 order-2 flex-row lg:flex-row" : "mt-4"}`}
  >
    <Dropdown class="flex order-1" />
    <a
      class="bg-white text-black transition rounded-lg hover:text-white hover:bg-[rgba(120,119,198,0.5)] px-4 py-2 lg:py-2 lg:px-4 order-2 text-sm lg:text-base"
      href="/en/blog"
      rel="noopener noreferrer"
      >Blog</a
    >
  </div>
</header>
