---
import Dropdown from '../../components/Dropdown.astro'
---
<header
  class="flex flex-wrap items-center justify-center w-full py-5 mx-auto lg:gap-x-10 md:gap-x-4 lg:justify-center lg:px-4 lg:gap-y-4 md:gap-y-4 "
>
    <img
    class="flex self-center mb-4 rounded-full size-12 md:mb-0 "
    src="/img/profile_picture.jpg"
    alt="ignathedev photo"
    />
  <nav class="flex flex-row flex-wrap items-center justify-center gap-4 xl:gap-y-0 opacity-80">
    <a class="bg-transparent transition rounded-lg hover:bg-[rgba(120,119,198,0.3)] px-2 py-1 lg:py-2 lg:px-4" href="/">Home</a>
    <a class="bg-transparent transition rounded-lg hover:bg-[rgba(120,119,198,0.3)] px-2 py-1 lg:py-2 lg:px-4" href="#about">About me</a>
    <a class="bg-transparent transition rounded-lg hover:bg-[rgba(120,119,198,0.3)] px-2 py-1 lg:py-2 lg:px-4" href="#landingPage">Create your website</a>
    <a class="bg-transparent transition rounded-lg hover:bg-[rgba(120,119,198,0.3)] px-2 py-1 lg:py-2 lg:px-4" href="#experience">Experience</a>
    <a class="bg-transparent transition rounded-lg hover:bg-[rgba(120,119,198,0.3)] px-2 py-1 lg:py-2 lg:px-4" href="#certifications">Certifications</a>
    <a class="bg-transparent transition rounded-lg hover:bg-[rgba(120,119,198,0.3)] px-2 py-1 lg:py-2 lg:px-4" href="#projects">Projects</a>
    <a class="bg-transparent transition rounded-lg hover:bg-[rgba(120,119,198,0.3)] px-2 py-1 lg:py-2 lg:px-4" href="#contact">Contact</a>
  </nav>
  <div class="flex items-center justify-end gap-x-20">
  <Dropdown data-astro-reload />
  <a
    class="bg-white text-black transition rounded-lg hover:text-white hover:bg-[rgba(120,119,198,0.5)] px-2 py-1 lg:py-2 lg:px-4 order-2"
    href="/en/blog"
    rel="noopener noreferrer" >Blog</a>
  </div>
</header>