---
import Layout from "../../layouts/Layout.astro";
import Badge from "../../components/Badge.astro";
import SectionContainer from "../../components/SectionContainer.astro";

import LinkedinIcon from "../../components/icons/LinkedinIcon.astro";
import GithubIcon from "../../components/icons/GithubIcon.astro";
import BriefCaseIcon from "../../components/icons/BriefCaseIcon.astro";
import MailIcon from "../../components/icons/MailIcon.astro";
import BehanceIcon from "../../components/icons/BehanceIcon.astro";
import SocialPill from "../../components/SocialPill.astro";
import StackOverflowIcon from "../../components/icons/StackOverflowIcon.astro";
import LaracastsIcon from "../../components/icons/LaracastsIcon.astro";
import CodeIcon from "../../components/icons/CodeIcon.astro";
import LearningIcon from "../../components/icons/LearningIcon.astro";
import CertificationIcon from "../../components/icons/CertificationIcon.astro";

import Arrow from "../../components/Arrow.astro";

import FullSectionContainer from "../../components/FullSectionContainer.astro";

import Experience from "./Experience.astro";
import Certification from "./Certification.astro";
import Studies from "./Studies.astro";
import Projects from "./Projects.astro";
---

<Layout
  title="Ignacio Amat Urbina - Full Stack Web Developer and Programmer | Specialist in PHP, Laravel, Livewire, Inertia, Vue, TailwindCSS"
  description="Ignacio Amat Urbina, hire me if you need a Full Stack Web Developer and expert in Back End and Front End. Specialized in PHP, Laravel (Livewire and Inertia), Javascript, Vue and TailwindCSS. Learning Astro to create fast, optimized, and high-performance websites."
>
  <main class="px-4">
    <SectionContainer class="py-28 pb-30 lg:py-52">
      <h1
        class="flex pb-6 mb-4 text-3xl font-extrabold leading-none text-center text-white md:text-4xl lg:text-5xl gap-x-4 lg:pb-10"
      >
        Hey, I'm Ignacio
        <a
          href="https://www.linkedin.com/in/ignacio-amat-urbina-789244223"
          target="_blank"
          rel="noopener"
          class="flex items-center justify-center"
          ><Badge>Hired</Badge></a
        >
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span>+3 years of experience.</span><span class="font-bold text-yellow-200">
          Full Stack Web Developer</span
        >. <span class="text-red-200/90 font-bold"> From Barcelona, Spain.</span>
        <span class="opacity-75"
          >Specialized in creating high-performance web apps and websites.</span
        >
      </h2>
      <br />
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        Expert in Back End Web Development with <span class="font-bold text-[#7477AC]"
          >PHP</span
        >, <span class="text-[#FF2819]">Laravel</span>, and <span
          class="font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#005E8A] from-30% to-[#EBA921] to-50%"
          >MYSQL</span
        >, and Front End Development with <span class="font-bold text-[#3FB27F]"
          >Vue.js</span
        >
        and<span class="font-bold text-[#EFD81D]"> Javascript</span>.
      </h2>

      <nav class="flex flex-wrap mt-8 gap-x-4 gap-y-4">
        <SocialPill
          href="https://www.linkedin.com/in/ignacio-amat-urbina-789244223"
        >
          <LinkedinIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://www.github.com/ignaaaam">
          <GithubIcon class="size-4 md:size-6" />
          Github
        </SocialPill>
        <SocialPill href="https://www.behance.net/igna21df">
          <BehanceIcon class="size-4 md:size-6" />
          Behance
        </SocialPill>
        <SocialPill
          href="https://stackoverflow.com/users/18973790/ignacio?tab=profile"
        >
          <StackOverflowIcon class="size-4 md:size-6" />
          StackOverflow
        </SocialPill>
        <SocialPill href="https://laracasts.com/@ignaaaam">
          <LaracastsIcon class="size-4 md:size-6" />
          Laracasts
        </SocialPill>
        <SocialPill href="mailto:ignacioamat@ignathedev.com">
          <MailIcon class="size-4 md:size-6" />
          ignacioamat@ignathedev.com
        </SocialPill>
      </nav>

      <div class="fixed right-40 md:static md:bottom-auto md:right-auto"></div>
      <Arrow
        class="size-12 md:size-16 md:rotate-[-94deg] relative lg:left-[56%] rotate-[-110deg] left-[59%] -top-[0.5rem] md:left-[58%] md:top-[-10px]"
      />
      <a
        href="mailto:ignacioamat@ignathedev.com"
        class="blob-white border border-black bg-white text-black p-2.5 rounded-full uppercase font-bold text-xs relative lg:left-[66%] lg:bottom-[25px] left-[50%] top-[-0.2rem] md:left-[66%] md:top-[-0.3rem] shadow-md shadow-white/20 transition-transform duration-300 ease-in-out transform hover:scale-105"
      >
        <span>Contact me to start!</span>
      </a>
    </SectionContainer>

    <FullSectionContainer
      id="landingPage"
      class="relative my-20 text-center text-pretty"
    >
      <h2 class="mb-6 text-6xl font-bold text-brush gap-x-3">
        Are you looking to create your website?
      </h2>
      <h3 class="py-4 text-4xl font-bold text-yellow-200">
        Do you want to create your Landing Page?
      </h3>
      <h4 class="py-2 font-bold text-red-200/90 text-pretty">
        Not sure where to start?
      </h4>
      <span class="opacity-75">
        Look no further! I'm here to help you create your Landing Page quickly,
        optimized, and effectively. With my experience in Full Stack web
        development and my knowledge in <a
          class="text-[#AD45EE] hover:font-bold underline transition-all"
          href="https://astro.build/"
          >Astro,</a
        >
        <a
          class="text-[#21759B] hover:font-bold underline transition-all"
          href="https://wordpress.com/"
          >Wordpress,</a
        > and more, I can build a website that perfectly fits your needs and goals.
        Contact me now and let's start building your dream Landing Page!
      </span>
      <br />
      <div class="flex flex-col items-center justify-center mt-10 gap-y-8">
        <!-- <a
          href="mailto:ignacioamat@ignathedev.com"
          class="block p-5 text-base font-bold text-white uppercase transition-transform duration-300 ease-in-out transform border border-white rounded-full shadow-md shadow-white/20 hover:scale-105"
        >
          <div class="flex items-center gap-x-2 hover:group">
            <span class="hover:animate-pulse">Saber más</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="transition-transform duration-200 ease-in-out icon icon-tabler icons-tabler-outline icon-tabler-arrow-right group-hover:translate-x-1"
              ><path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              ></path><path d="M5 12l14 0"></path><path d="M13 18l6 -6"
              ></path><path d="M13 6l6 6"></path></svg
            >
          </div>
        </a> -->
        <a
          href="mailto:ignacioamat@ignathedev.com"
          class="p-5 text-base font-black text-black uppercase transition-transform duration-300 ease-in-out transform bg-white border border-black rounded-full shadow-md blob-white shadow-white/20 hover:scale-105"
        >
          <span>Contact me and let's get started!</span>
        </a>
      </div>
    </FullSectionContainer>

    <SectionContainer id="experience">
      <h2 class="flex items-center mb-6 text-3xl font-bold gap-x-3">
        <BriefCaseIcon class="size-8" />
        Work Experience
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="academics">
      <h2 class="flex items-center mb-6 text-3xl font-bold gap-x-3">
        <LearningIcon class="size-8" />
        Academic Experience
      </h2>
      <Studies />
    </SectionContainer>
    <SectionContainer id="certifications">
      <h2 class="flex items-center mb-6 text-3xl font-bold gap-x-3">
        <CertificationIcon class="size-8" />
        Certifications
      </h2>
      <Certification />
    </SectionContainer>

    <SectionContainer id="projects">
      <h2 class="flex items-center mb-6 text-3xl font-bold gap-x-3">
        <CodeIcon class="size-8" />
        Projects
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>

<style>
  html {
    font-family: "Onest Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }

  @keyframes pulse-white {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }

    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }

  .blob-white {
    background: white;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    animation: pulse-white 2s infinite;
  }

  .text-brush {
    background-image: linear-gradient(180deg, #fff06b, #fff06b);
    background-repeat: no-repeat;
    background-position: 10px bottom;
    background-size: 100% 10px;
    text-decoration: none;
  }
</style>
