---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import LinkedinIcon from "../components/icons/LinkedinIcon.astro";
import GithubIcon from "../components/icons/GithubIcon.astro";
import BriefCaseIcon from "../components/icons/BriefCaseIcon.astro";
import MailIcon from "../components/icons/MailIcon.astro";
import BehanceIcon from "../components/icons/BehanceIcon.astro";
import SocialPill from "../components/SocialPill.astro";
import StackOverflowIcon from "../components/icons/StackOverflowIcon.astro";
import LaracastsIcon from "../components/icons/LaracastsIcon.astro";

import Experience from "../components/Experience.astro";
import Studies from "../components/Studies.astro";
import Projects from "../components/Projects.astro";
import CodeIcon from "../components/icons/CodeIcon.astro";
import LearningIcon from "../components/icons/LearningIcon.astro";
---
<Layout 
  title="Ignacio Amat Urbina - Desarrollador y Programador Web Full Stack | Especialista en PHP, Laravel, Livewire, Inertia, Vue, TailwindCSS"
  description="Ignacio Amat Urbina, contrátame si necesitas un desarrollador Web Full Stack y experto en Back End y Front End. Especializado en PHP, Laravel (Livewire e Inertia), Javascript, Vue y TailwindCSS. Aprendiendo Astro para crear sitios web rápidos, optimizados y de alto rendimiento."
  >
  <main class="px-4">
    <SectionContainer class="py-44 pb-30">
      <h1 class="text-3xl md:text-4xl font-extrabold leading-none text-center mb-4 text-white lg:text-5xl flex gap-x-4 pb-6 lg:pb-10">
        Hey, soy Ignacio
        <a
          href="https://www.linkedin.com/in/ignacio-amat-urbina-789244223"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
          ><Badge>Hired</Badge></a
        >
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span>+3 años de experiencia.</span><span class="text-yellow-200">
          Desarrollador Web Full Stack</span
        >. <span class="text-red-200/90"> De Barcelona, España.</span>
        <span class="opacity-75"
          >Especializado en la creación de web apps y sitios web de alto
          rendimiento.</span
        >
      </h2>
      <br />
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        Experto en Desarrollo Web Back End con <span class="text-[#7477AC]"
          >PHP</span
        >, <span class="text-[#FF2819]">Laravel</span> y <span
          class="bg-clip-text text-transparent bg-gradient-to-r from-[#005E8A] from-30% to-[#EBA921] to-50%"
          >MYSQL</span
        >, y Desarrollo Front End con <span class="text-[#3FB27F]">Vue.js</span>
        y<span class="text-[#EFD81D]"> Javascript</span>.
      </h2>

      <nav class="flex flex-wrap gap-x-4 gap-y-4 mt-8">
          <SocialPill href="https://www.linkedin.com/in/ignacio-amat-urbina-789244223">
            <LinkedinIcon class="size-4 md:size-6" />
            LinkedIn
          </SocialPill>
          <SocialPill href="https://www.github.com/ignaaaam">
            <GithubIcon class="size-4 md:size-6" />
            Github
          </SocialPill>
          <SocialPill href="https://www.behance.net/igna21df">
            <BehanceIcon class="size-4 md:size-6" />
            Behance
          </SocialPill>
          <SocialPill href="https://stackoverflow.com/users/18973790/ignacio?tab=profile">
            <StackOverflowIcon class="size-4 md:size-6" />
            StackOverflow
          </SocialPill>
          <SocialPill href="https://laracasts.com/@ignaaaam">
            <LaracastsIcon class="size-4 md:size-6" />
            Laracasts
          </SocialPill>
          <SocialPill href="mailto:ignasiamat10@gmail.com">
            <MailIcon class="size-4 md:size-6" />
            ignasiamat10@gmail.com
          </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experience">
      <h2 class="text-3xl font-bold mb-6 flex gap-x-3 items-center">
        <BriefCaseIcon class="size-8" />
        Experiencia Laboral</h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="academics">
      <h2 class="text-3xl font-bold mb-6 flex gap-x-3 items-center">
        <LearningIcon class="size-8" />
        Experiencia Académica</h2>
      <Studies />
    </SectionContainer>

    <SectionContainer id="projects">
      <h2 class="text-2xl font-bold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-8" />
        Proyectos</h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
