---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import LinkedinIcon from "../components/icons/LinkedinIcon.astro";
import GithubIcon from "../components/icons/GithubIcon.astro";
import BriefCaseIcon from "../components/icons/BriefCaseIcon.astro";
import MailIcon from "../components/icons/MailIcon.astro";
import BehanceIcon from "../components/icons/BehanceIcon.astro";
import SocialPill from "../components/SocialPill.astro";
import StackOverflowIcon from "../components/icons/StackOverflowIcon.astro";
import LaracastsIcon from "../components/icons/LaracastsIcon.astro";
import CodeIcon from "../components/icons/CodeIcon.astro";
import LearningIcon from "../components/icons/LearningIcon.astro";
import CertificationIcon from "../components/icons/CertificationIcon.astro";
import Github from "../components/icons/GithubIcon.astro";

import MouseScroll from "../components/MouseScroll.astro";
import Arrow from "../components/Arrow.astro";

import Experience from "../components/Experience.astro";
import Certification from "../components/Certification.astro";
import Studies from "../components/Studies.astro";
import Projects from "../components/Projects.astro";
import { fade } from "astro:transitions";
---

<Layout
  title="Ignacio Amat Urbina - Desarrollador y Programador Web Full Stack | Especialista en PHP, Laravel, Livewire, Inertia, Vue, TailwindCSS"
  description="Ignacio Amat Urbina, contrátame si necesitas un desarrollador Web Full Stack y experto en Back End y Front End. Especializado en PHP, Laravel (Livewire e Inertia), Javascript, Vue y TailwindCSS. Aprendiendo Astro para crear sitios web rápidos, optimizados y de alto rendimiento."
>
  <main class="px-4">
    <SectionContainer class="py-8 md:py-28 pb-30 lg:py-52">
      <h1
        class="flex pb-6 mb-4 text-3xl font-extrabold leading-none text-center text-white md:text-4xl lg:text-5xl gap-x-4 lg:pb-10"
      >
        Hey, soy Ignacio
        <a
          href="https://www.linkedin.com/in/ignacio-amat-urbina-789244223"
          target="_blank"
          rel="noopener"
          class="flex items-center justify-center"
          ><Badge>Hired</Badge></a
        >
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span>+3 años de experiencia.</span><span class="font-bold text-yellow-200">
          Desarrollador Web Full Stack</span
        >. <span class="text-red-200/90 font-bol"> De Barcelona, España.</span>
        <span class="opacity-75"
          >Especializado en la creación de web apps y sitios web de alto
          rendimiento.</span
        >
      </h2>
      <br />
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        Experto en Desarrollo Web Back End con <span class="font-bold text-[#7477AC]"
          >PHP</span
        >, <span class="font-bold text-[#FF2819]">Laravel</span> y <span
          class="font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#005E8A] from-30% to-[#EBA921] to-50%"
          >MYSQL</span
        >, y Desarrollo Front End con <span class="font-bold text-[#3FB27F]">Vue.js</span>
        y<span class="font-bold text-[#EFD81D]"> Javascript</span>.
      </h2>
      <nav class="flex flex-wrap mt-8 gap-x-4 gap-y-4">
        <SocialPill
          href="https://www.linkedin.com/in/ignacio-amat-urbina-789244223"
        >
          <LinkedinIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://www.github.com/ignaaaam">
          <GithubIcon class="size-4 md:size-6" />
          Github
        </SocialPill>
        <SocialPill href="https://www.behance.net/igna21df">
          <BehanceIcon class="size-4 md:size-6" />
          Behance
        </SocialPill>
        <SocialPill
          href="https://stackoverflow.com/users/18973790/ignacio?tab=profile"
        >
          <StackOverflowIcon class="size-4 md:size-6" />
          StackOverflow
        </SocialPill>
        <SocialPill href="https://laracasts.com/@ignaaaam">
          <LaracastsIcon class="size-4 md:size-6" />
          Laracasts
        </SocialPill>
        <SocialPill href="mailto:ignasiamat10@gmail.com">
          <MailIcon class="size-4 md:size-6" />
          ignasiamat10@gmail.com
        </SocialPill>
      </nav>
      <div class="fixed right-40 md:static md:bottom-auto md:right-auto"></div>
      <Arrow
        class="size-12 md:size-16 md:rotate-[-94deg] relative lg:left-[56%] rotate-[-110deg] left-[59%] -top-[0.5rem] md:left-[58%] md:top-[-10px]"
      />
      <a
        href="mailto:ignasiamat10@gmail.com"
        class="blob-white border border-black bg-white text-black p-2.5 rounded-full uppercase font-bold text-xs relative lg:left-[66%] lg:bottom-[25px] left-[55%] top-[-0.2rem] md:left-[66%] md:top-[-0.3rem] shadow-md shadow-white/20 transition-transform duration-300 ease-in-out transform hover:scale-105"
      >
      <span>Contact me to build!</span>
      </a>
    </SectionContainer>
    <!-- <Arrow
          class="size-16 relative lg:left-[56%] rotate-[-90deg] left-[65%] top-[10px] md:left-[32%] md:top-[-10px]"
        />
        <span
          class="uppercase font-bold text-sm relative lg:left-[66%] lg:bottom-[25px] left-[80%] bottom-[-10px] md:left-[42%] md:top-[-45px]"
          >Contact me!</span
        > -->
    <!-- <MouseScroll /> -->
  </main>

  <!-- <SectionContainer class="pb-40">
      <h1
        id="landingPageTitle"
        class="text-6xl md:text-4xl font-extrabold py-4 text-center mb-12 lg:text-[6rem] lg:pb-10"
      >
        ¿Buscas una landing page?
      </h1>
      <!-- Explica que últimamente he estado aprendiendo el framework Astro y eso me permite crear landing pages con buen rendimiento,más rápido que usando Wordpress y con mejor optimizacion -->
  <!-- <h2 class="w-full text-xl lg:text-2xl text-wrap max-w-[1600px]">
        Últimamente he estado aprendiendo el framework <a
          target="_blank"
          rel="noopener"
          href="https://astro.build/"
          ><span class="underline text-[#40224E]">Astro</span></a
        > y eso me permite crear landing pages con buen rendimiento, más rápido que
        usando Wordpress y con mejor optimización.
      </h2>
    </SectionContainer> -->

  <SectionContainer id="experience">
    <h2 class="flex items-center mb-6 text-3xl font-bold gap-x-3">
      <BriefCaseIcon class="size-8" />
      Experiencia Laboral
    </h2>
    <Experience />
  </SectionContainer>

  <SectionContainer id="academics">
    <h2 class="flex items-center mb-6 text-3xl font-bold gap-x-3">
      <LearningIcon class="size-8" />
      Experiencia Académica
    </h2>
    <Studies />
  </SectionContainer>
  <SectionContainer id="certifications">
    <h2 class="flex items-center mb-6 text-3xl font-bold gap-x-3">
      <CertificationIcon class="size-8" />
      Certificaciones
    </h2>
    <Certification />
  </SectionContainer>

  <SectionContainer id="projects">
    <h2 class="flex items-center mb-6 text-3xl font-bold gap-x-3">
      <CodeIcon class="size-8" />
      Proyectos
    </h2>
    <Projects />
  </SectionContainer>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 1200px;
    max-width: calc(100% - 1rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }

  #landingPageTitle {
    background: linear-gradient(
      90deg,
      rgba(36, 5, 3, 0.705) 0%,
      rgba(255, 40, 25, 0.829) 50%,
      rgba(36, 5, 3, 0.705) 100%
    );
    line-height: normal;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @keyframes pulse-white {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}

.blob-white {
	background: white;
	box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
	animation: pulse-white 2s infinite;
}

</style>
