---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import FullSectionContainer from "../components/FullSectionContainer.astro";
import LinkedinIcon from "../components/icons/LinkedinIcon.astro";
import GithubIcon from "../components/icons/GithubIcon.astro";
import BriefCaseIcon from "../components/icons/BriefCaseIcon.astro";
import MailIcon from "../components/icons/MailIcon.astro";
import BehanceIcon from "../components/icons/BehanceIcon.astro";
import SocialPill from "../components/SocialPill.astro";
import StackOverflowIcon from "../components/icons/StackOverflowIcon.astro";
import LaracastsIcon from "../components/icons/LaracastsIcon.astro";
import CodeIcon from "../components/icons/CodeIcon.astro";
import LearningIcon from "../components/icons/LearningIcon.astro";
import CertificationIcon from "../components/icons/CertificationIcon.astro";

import Arrow from "../components/Arrow.astro";

import Experience from "../components/Experience.astro";
import Certification from "../components/Certification.astro";
import Studies from "../components/Studies.astro";
import Projects from "../components/Projects.astro";
---

<Layout
  title="Ignacio Amat Urbina - Desarrollador y Programador Web Full Stack | Especialista en PHP, Laravel, Livewire, Inertia, Vue, TailwindCSS"
  description="Ignacio Amat Urbina, contrátame si necesitas un desarrollador Web Full Stack y experto en Back End y Front End. Especializado en PHP, Laravel (Livewire e Inertia), Javascript, Vue y TailwindCSS. Aprendiendo Astro para crear sitios web rápidos, optimizados y de alto rendimiento."
>
  <main class="px-4">
    <SectionContainer class="py-8 md:py-12 pb-30 lg:py-32">
      <h1
        class="flex pb-6 mb-4 text-3xl font-extrabold leading-none text-center text-white md:text-4xl lg:text-5xl gap-x-4 lg:pb-10"
      >
        Hey, soy Ignacio
        <a
          href="https://www.linkedin.com/in/ignacio-amat-urbina-789244223"
          target="_blank"
          rel="noopener"
          class="flex items-center justify-center"
          ><Badge>Hired</Badge></a
        >
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span>+3 años de experiencia.</span><span
          class="font-bold text-yellow-200"
        >
          Desarrollador Web Full Stack</span
        >. <span class="text-red-200/90 font-bold"> De Barcelona, España.</span>
        <span class="opacity-75"
          >Especializado en la creación de web apps y sitios web de alto
          rendimiento.</span
        >
      </h2>
      <br />
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        Experto en Desarrollo Web Back End con <span
          class="font-bold text-[#7477AC]">PHP</span
        >, <span class="font-bold text-[#FF2819]">Laravel</span> y <span
          class="font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#005E8A] from-30% to-[#EBA921] to-50%"
          >MYSQL</span
        >, y Desarrollo Front End con <span class="font-bold text-[#3FB27F]"
          >Vue.js</span
        >
        y<span class="font-bold text-[#EFD81D]"> Javascript</span>.
      </h2>
      <nav class="flex flex-wrap mt-8 gap-x-4 gap-y-4">
        <SocialPill
          href="https://www.linkedin.com/in/ignacio-amat-urbina-789244223"
        >
          <LinkedinIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://www.github.com/ignaaaam">
          <GithubIcon class="size-4 md:size-6" />
          Github
        </SocialPill>
        <SocialPill href="https://www.behance.net/igna21df">
          <BehanceIcon class="size-4 md:size-6" />
          Behance
        </SocialPill>
        <SocialPill
          href="https://stackoverflow.com/users/18973790/ignacio?tab=profile"
        >
          <StackOverflowIcon class="size-4 md:size-6" />
          StackOverflow
        </SocialPill>
        <SocialPill href="https://laracasts.com/@ignaaaam">
          <LaracastsIcon class="size-4 md:size-6" />
          Laracasts
        </SocialPill>
        <SocialPill href="mailto:ignacioamat@ignathedev.com">
          <MailIcon class="size-4 md:size-6" />
          ignacioamat@ignathedev.com
        </SocialPill>
      </nav>
      <div class="fixed right-40 md:static md:bottom-auto md:right-auto"></div>
      <Arrow
        class="size-12 md:size-16 md:rotate-[-94deg] relative lg:left-[56%] rotate-[-110deg] left-[59%] -top-[0.5rem] md:left-[58%] md:top-[-10px]"
      />
      <a
        href="mailto:ignacioamat@ignathedev.com"
        class="blob-white border border-black bg-white text-black p-2.5 rounded-full uppercase font-bold text-xs relative lg:left-[66%] lg:bottom-[25px] left-[45%] top-[-0.2rem] md:left-[66%] md:top-[-0.3rem] shadow-md shadow-white/20 transition-transform duration-300 ease-in-out transform hover:scale-105"
      >
        <span>Contáctame para empezar</span>
      </a>
    </SectionContainer>

    <FullSectionContainer
      id="landingPage"
      class="relative my-20 text-center text-pretty"
    >
      <h2 class="mb-6 text-5xl lg:text-6xl font-bold text-brush gap-x-3">
        ¿Buscas crear tu página web?
      </h2>
      <h3 class="py-4 text-3xl lg:text-4xl font-bold text-yellow-200">
        ¿Quieres crear tu Landing Page?
      </h3>
      <h4 class="py-2 font-bold text-red-200/90 text-pretty">
        ¿No sabes por dónde empezar?
      </h4>
      <span class="opacity-75">
        ¡No busques más! Estoy aquí para ayudarte a crear tu Landing Page de
        manera rápida, optimizada y efectiva. Con mi experiencia en desarrollo
        web Full Stack y mis conocimientos en <a
          class="text-[#ff7ff9] hover:font-bold underline transition-all"
          href="https://astro.build/"
          >Astro,</a
        >
        <a
          class="text-[#A09AC1] hover:font-bold underline transition-all"
          href="https://wordpress.com/"
          >Wordpress</a
        > y más, puedo crear un sitio web que se adapte perfectamente a tus necesidades
        y objetivos. ¡Contáctame ahora y comencemos a construir tu Landing Page de
        ensueño!
      </span>
      <br />
      <div class="flex flex-col items-center justify-center mt-10 gap-y-8">
        <!-- <a
          href="mailto:ignacioamat@ignathedev.com"
          class="block p-5 text-base font-bold text-white uppercase transition-transform duration-300 ease-in-out transform border border-white rounded-full shadow-md shadow-white/20 hover:scale-105"
        >
          <div class="flex items-center gap-x-2 hover:group">
            <span class="hover:animate-pulse">Saber más</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="transition-transform duration-200 ease-in-out icon icon-tabler icons-tabler-outline icon-tabler-arrow-right group-hover:translate-x-1"
              ><path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              ></path><path d="M5 12l14 0"></path><path d="M13 18l6 -6"
              ></path><path d="M13 6l6 6"></path></svg
            >
          </div>
        </a> -->
        <a
          href="mailto:ignacioamat@ignathedev.com"
          class="block p-5 text-base font-black text-black uppercase transition-transform duration-300 ease-in-out transform bg-white border border-black rounded-full shadow-md blob-white shadow-white/20 hover:scale-105"
        >
          <span>Contáctame y empezamos!</span>
        </a>
      </div>
    </FullSectionContainer>
    <SectionContainer id="experience">
      <h2 class="flex items-center mb-6 text-3xl font-bold gap-x-3">
        <BriefCaseIcon class="size-8" />
        Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="academics">
      <h2 class="flex items-center mb-6 text-3xl font-bold gap-x-3">
        <LearningIcon class="size-8" />
        Experiencia Académica
      </h2>
      <Studies />
    </SectionContainer>
    <SectionContainer id="certifications">
      <h2 class="flex items-center mb-6 text-3xl font-bold gap-x-3">
        <CertificationIcon class="size-8" />
        Certificaciones
      </h2>
      <Certification />
    </SectionContainer>

    <SectionContainer id="projects">
      <h2 class="flex items-center mb-6 text-3xl font-bold gap-x-3">
        <CodeIcon class="size-8" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 1200px;
    max-width: calc(100% - 1rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }

  #landingPageTitle {
    background: linear-gradient(
      90deg,
      rgba(36, 5, 3, 0.705) 0%,
      rgba(255, 40, 25, 0.829) 50%,
      rgba(36, 5, 3, 0.705) 100%
    );
    line-height: normal;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @keyframes pulse-white {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }

    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }

  .blob-white {
    background: white;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    animation: pulse-white 2s infinite;
  }

  .text-brush {
    background-image: linear-gradient(180deg, #fff06b, #fff06b);
    background-repeat: no-repeat;
    background-position: 10px bottom;
    background-size: 100% 10px;
    text-decoration: none;
  }
</style>
