---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<span
  class:list={[
    "text-xs font-medium px-2.5 py-0.5 rounded",
    className
  ]}
>
  <slot />
</span>
