---
import ExperienceItem from './ExperienceItem.astro'

const EXPERIENCE = [
    {
        title: 'Full Stack Web Developer',
        company: 'FREELANCE',
        location: 'Remote - Worldwide',
        date: 'Jan 2024 - Present',
        description: 'Desarrollo soluciones full stack para empresas y profesionales: desde aplicaciones web complejas hasta sitios de alto rendimiento. Cada proyecto se entrega con código limpio, documentación y soporte post-lanzamiento. Stack principal: PHP, Laravel, Vue.js, MySQL y TailwindCSS.',
        // link: 'https://ignathedev.biz/',
    },
    {
        title: 'Desarrollador Web Full Stack',
        company: 'MANIFIESTO',
        location: 'Barcelona, Spain',
        date: 'Aug 2022 - Mar 2025',
        description: 'Desarrollador full stack para clientes de primer nivel: PlayStation, TikTok, Glovo, LaCaixa, Bizum, Citroën, ElPozo, TacoBell, Ginos y más. Construí aplicaciones web, herramientas internas y sitios corporativos usando PHP, Laravel, Livewire, Inertia, Vue.js, MySQL y TailwindCSS. Gestión completa de proyectos con Git, Laravel Forge y DigitalOcean.',
        link: 'https://manifiesto.biz/',
    },
    {
        title: 'Full Stack Web Developer at VILAX Marketing Agency',
        company: 'VILAX',
        location: 'Viladecans, Spain',
        date: '2021 - 2022',
        description: 'Gestioné múltiples sitios web y alojamientos de empresas, principalmente utilizando Wordpress + Elementor + Woocommerce y desarrollé/modifiqué algunos plugins para interactuar con los archivos principales de Wordpress y Woocommerce. También realicé pequeñas tareas en todos esos sitios web, como cambiar los alojamientos, configurar nuevas instalaciones de Wordpress, configuraciones SSL y solucionar todo tipo de problemas relacionados con esas tecnologías.',
        link: 'https://www.vilax.es/',
    },
    {
        title: 'Freelance Web Developer',
        company: 'Upwork',
        location: 'Worldwide',
        date: '2019 - 2020',
        description: 'Resolví tareas para personas particulares o empresas, estas tareas involucraban corregir errores en un sitio web existente, corregir código mal implementado y agregar nuevos sitios, diseños, secciones y reescribir código que podría haberse mejorado.',
        link: 'https://www.upwork.com/',
    },
];
---
<div class="max-w-4xl mx-auto flex justify-center">
    <ol class="relative ml-4 border-gray-200 border-s">
        {
            EXPERIENCE.map((experience) => (
                <li class="mb-10 ms-4">
                    <ExperienceItem {...experience} />
                </li>
            ))
        }
    </ol>
</div>