---
import ExperienceItem from './ExperienceItem.astro'

const EXPERIENCE = [
    {
        title: 'Full Stack Web Developer',
        company: 'FREELANCE',
        location: 'Remote - Worldwide',
        date: 'Jan 2024 - Present',
        description: 'Como desarrollador Full Stack freelance, brindé soluciones profesionales a empresas y particulares en proyectos de desarrollo web, abarcando tanto front end como back end. Diseñé e implementé sitios web a medida, optimicé la experiencia de usuario, integré sistemas y gestioné bases de datos, utilizando tecnologías modernas para garantizar páginas web rápidas, seguras y escalables. Mi enfoque incluyó el desarrollo y mantenimiento de aplicaciones, el mejoramiento del rendimiento y la resolución eficiente de incidencias técnicas, asegurando la máxima calidad y satisfacción del cliente.',
        // link: 'https://ignathedev.biz/',
    },
    {
        title: 'Desarrollador Web Full Stack',
        company: 'MANIFIESTO',
        location: 'Barcelona, Spain',
        date: 'Aug 2022 - Mar 2025',
        description: 'Trabajando como Desarrollador Web Full Stack para empresas de alto nivel en España como Btravel, Playstation, Glovo, TikTok, LaCaixa, Sofinco, ElPozo, Bizum, TacoBell, Ginos, Citroen y más. Construyendo sitios web y aplicaciones web utilizando PHP, Laravel, Livewire, Inertia, Vue, MySQL y TailwindCSS.',
        link: 'https://manifiesto.biz/',
    },
    {
        title: 'Full Stack Web Developer at VILAX Marketing Agency',
        company: 'VILAX',
        location: 'Viladecans, Spain',
        date: '2021 - 2022',
        description: 'Gestioné múltiples sitios web y alojamientos de empresas, principalmente utilizando Wordpress + Elementor + Woocommerce y desarrollé/modifiqué algunos plugins para interactuar con los archivos principales de Wordpress y Woocommerce. También realicé pequeñas tareas en todos esos sitios web, como cambiar los alojamientos, configurar nuevas instalaciones de Wordpress, configuraciones SSL y solucionar todo tipo de problemas relacionados con esas tecnologías.',
        link: 'https://www.vilax.es/',
    },
    {
        title: 'Freelance Web Developer',
        company: 'Upwork',
        location: 'Worldwide',
        date: '2019 - 2020',
        description: 'Resolví tareas para personas particulares o empresas, estas tareas involucraban corregir errores en un sitio web existente, corregir código mal implementado y agregar nuevos sitios, diseños, secciones y reescribir código que podría haberse mejorado.',
        link: 'https://www.upwork.com/',
    },
];
---
<div class="max-w-4xl mx-auto flex justify-center">
    <ol class="relative ml-4 border-gray-200 border-s">
        {
            EXPERIENCE.map((experience) => (
                <li class="mb-10 ms-4">
                    <ExperienceItem {...experience} />
                </li>
            ))
        }
    </ol>
</div>