---
import ExperienceItem from './ExperienceItem.astro'

const EXPERIENCE = [
    {
        title: 'Desarrollador Web Full Stack',
        company: 'MANIFIESTO',
        location: 'Barcelona, Spain',
        date: 'Aug 2022 - Actualidad',
        description: 'Trabajando como Desarrollador Web Full Stack para empresas de alto nivel en España como Btravel, Playstation, Glovo, TikTok, LaCaixa, Sofinco, ElPozo, Bizum, TacoBell, Ginos, Citroen y más. Construyendo sitios web y aplicaciones web utilizando PHP, Laravel, Livewire, Inertia, Vue, MySQL y TailwindCSS.',
        link: 'https://manifiesto.biz/',
    },
    {
        title: 'Full Stack Web Developer at VILAX Marketing Agency',
        company: 'VILAX',
        location: 'Viladecans, Spain',
        date: '2021 - 2022',
        description: 'Gestioné múltiples sitios web y alojamientos de empresas, principalmente utilizando Wordpress + Elementor + Woocommerce y desarrollé/modifiqué algunos plugins para interactuar con los archivos principales de Wordpress y Woocommerce. También realicé pequeñas tareas en todos esos sitios web, como cambiar los alojamientos, configurar nuevas instalaciones de Wordpress, configuraciones SSL y solucionar todo tipo de problemas relacionados con esas tecnologías.',
        link: 'https://www.vilax.es/',
    },
    {
        title: 'Freelance Web Developer',
        company: 'Upwork',
        location: 'Worldwide',
        date: '2019 - 2020',
        description: 'Resolví tareas para personas particulares o empresas, estas tareas involucraban corregir errores en un sitio web existente, corregir código mal implementado y agregar nuevos sitios, diseños, secciones y reescribir código que podría haberse mejorado.',
        link: 'https://www.upwork.com/',
    },
];

const STUDIES = [
    {
        title: 'Desarrollador De Aplicaciones Web',
        institution: 'Academia Nuria',
        location: 'Spain, Barcelona - Academia Nuria',
        date: '2018 - 2022',
        link: 'https://www.escolesnuria.cat/es/',
    },
    {
        title: 'Freelance Web Developer',
        institution: 'Upwork',
        location: 'Remote - Worldwide',
        date: '2019 - 2020',
        link: 'https://www.escolesnuria.cat/es/',
    },
    {
        title: 'Sistemas y Redes Informáticas',
        institution: 'Academia Nuria',
        location: 'Spain, Barcelona - Academia Nuria',
        date: '2014 - 2016',
        link: 'https://www.escolesnuria.cat/es/',
    },
];
---
<ol class="relative border-s border-gray-200 ml-4">
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>