---
    const { class: className, id } = Astro.props
---
<section id={id} class={`${className} w-full`}>
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
        <slot />
    </div>
</section>