<header
  class="flex flex-wrap justify-center items-center py-5 w-full mx-auto lg:gap-x-10 md:gap-x-4 lg:justify-between lg:w-[1120px]"
>
    <img
    class="flex self-center rounded-full size-12 mb-4 md:mb-0 "
    src="/img/profile_picture.jpg"
    alt="ignathedev photo"
    />
  <nav class="flex flex-row flex-wrap justify-center items-center gap-4 xl:gap-y-0 opacity-80">
    <a href="/">Inicio</a>
    <a href="#about">Sobre mí</a>
    <a href="#experience">Experiencia</a>
    <a href="#academics">Certificaciones</a>
    <a href="#projects">Proyectos</a>
    <a href="#contact">Contacto</a>
  </nav>
</header>
