---
    const { class: className, id, wide = false } = Astro.props;
    const containerWidth = wide ? 'lg:w-[960px] xl:w-[1100px]' : 'lg:w-[740px]';
---
<section 
    id={id} 
    class:list={[
        `${className}`,
        'w-full mx-auto pb-24',
        containerWidth
    ]}
>
    <slot />
</section>