---
    const { class: className, id, wide = false } = Astro.props;
    const containerWidth = wide ? 'max-w-7xl' : 'max-w-6xl';
---
<section 
    id={id} 
    class:list={[
        `${className}`,
        'w-full'
    ]}
>
    <div class:list={[
        'mx-auto px-4 sm:px-6 lg:px-8',
        containerWidth
    ]}>
        <slot />
    </div>
</section>